<nav.site-menu>
    <!-- <a href="/docs/getting-started/">docs</a> -->
    <a href="/docs/introduction-overview/">Getting started</a>
    <a href="/docs/trooba-book-overview/">Book</a>
    <a href="https://github.com/trooba/trooba">github</a>
    <site-search.search />
</nav>
